body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* body background */
.header{
    background: #FFF8F3;
   
}
/* banner style */
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 500px;
    height: 676px;
    flex-shrink: 0;
}